# Database settings
DB_USER=mio_user
DB_PASSWORD=mia_password
DB_NAME=BugBoard26_DB
DB_HOST=localhost
DB_PORT=5432

# PGAdmin settings
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=root

# JWT settings
SECRET_KEY=secret_key_super_segreta

# Default Admin settings (Opzionale: se omessi, usa i valori di default nel codice)
# DEFAULT_ADMIN_EMAIL=admin@bugboard26.com
# DEFAULT_ADMIN_USERNAME=admin
# DEFAULT_ADMIN_PASSWORD=adminpassword123

